/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f8f8f8;
  padding-top: 40px;
}

/* Navbar styles */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 0;
}

.navbar-brand img {
  height: 40px;
  vertical-align: middle;
}

.navbar-menu {
  margin-top: 0;
  text-align: center;
  padding: 5px;
}

.navbar-menu li {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.navbar-menu li a {
  color: #005C97;
  text-decoration: none;
  font-size: 19px;
}

.navbar-menu li a:hover {
  color: #006DB3;
}

.footer-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-menu li {
  margin-right: 10px;
}

.footer-menu li a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-menu li a:hover {
  color: #555;
}

.footer-bottom {
  text-align: center;
  color: #999;
  font-size: 14px;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.main-text {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.main-text img {
	border-radius: 5px;
}

.container-1 {
	margin-top: 20px;
	position: relative;
	width: 60%;
	height: 440px;
	top: -100px;
}



.pic-1 {
	position: absolute;
	width: 55%;
	right: 0;
	bottom: 0;
}

.pic-2 {
	position: absolute;
	width: 40%;
	left: 0;
	bottom: 0;
}

.pic-1 img,
.pic-2 img,
.pic-3 img,
.pic-4 img {
	width: 100%;
}

.picture-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60em;
	max-height: 50vw;
	overflow: hidden;
}

.picture-container img{
	width: 100%;
}

.text-1 {
	padding: 1em 0.2em;
}

.text-1 h1 {
	font-size: 3em;
	color: rgba(255,255,255,0.85);
}

.text-1 h2 {
	font-size: 2.5em;
}

.container-2 {
	width: 60%;
	height: 480px;
	position: relative;
	top: -30px;
}

.text-2 {
	position: absolute;
	width: 40%;
	bottom: 20%;
	left: 0;
}

.text-2 p {
	font-size: 1.2em;
}

.pic-3 {
	position: absolute;
	width: 30%;
	top: 0;
	right: 25%;
}

.pic-4 {
	width: 23%;
	position: absolute;
	top: 0;
	right: 0;
}
