/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background: url("../img/background.png") repeat;
  padding-top: 40px;
}

/* Header styles */
.head {
  padding-bottom: 10px;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 0;
}

.navbar-brand img {
  height: 40px;
  vertical-align: middle;
}

.navbar-menu {
  margin-top: 0;
  text-align: center;
  padding: 5px;
}

.navbar-menu li {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.navbar-menu li a {
  color: #005C97;
  text-decoration: none;
  font-size: 19px;
}

.navbar-menu li a:hover {
  color: #006DB3;
}

/* Main content styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  border-radius: 5px;
  margin: 0 auto;
  width: 85%;
  margin: 10px auto;
}

.huali-image img {
  width: 400px;
  display: block;
  margin: 0 auto;
  padding-top: 48px;
}

main ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

main li {
  margin-bottom: 10px;
  display: block;
  position: relative;
}

/* Footer styles */
footer {
	background-color: #f8f8f8;
}

.footer-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-menu li {
  margin-right: 10px;
}

.footer-menu li a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-menu li a:hover {
  color: #555;
}

.footer-bottom {
  text-align: center;
  color: #999;
  font-size: 14px;
}

/* Additional styles */
.head-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-img img {
  width: 62%;
}

.introduction {
  display: flex;
  justify-content: center;
}

.introduction p {
  font-size: 1em;
  line-height: 200%;
}

.list-text {
  text-shadow: 1px 1px #0f0f0f;
  font-family: NSimSun;
  color: #FFFFFF;
  padding: 1px 8px;
  overflow: visible;
  position: absolute;
  left: 7.5%;
  float: none;
  font-size: 2.6em;
  line-height: 64px;
}

.text {
  width: 85%;
  background-color: #F8F8F8F8;
  border-radius: 10px;
  padding: 10px;
}
